.onboardingBg {
    background-color: #0c1321;
    width: 100%;
    height: 100vh;
    color: white;
    border: blue 1px solid;
}
.onboardingContainer {
    padding: 5% 15%;
    border: red 1px solid;
    height: 100%;
}

.foregroundImg {
    width: 86.3%;
    background-size: cover;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
}

.progressContainer {
    text-align: center;
    padding-bottom: 5%;
}
.progressBar {
    width: 100%;
}
.onboardingContent {
    width: 100%;
    border: hotpink 1px solid;
    height: 80%;
    position: relative;
    z-index: 2;
}

.onboardingHeadingContainer {
    display: flex;
    width: 100%;
    min-height: 30%;
}
.onboardingCat {
    width: 15%;
    padding: 2%;
    background-image: url('../../../public/onboardingCat.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.onboardingHeading {
    padding: 3% 5%;
    width: 85%;
}
.continueButton {
    position: absolute;
    border: white solid 1px;
    bottom: 5%;
    right: 5%;
}

.continueButton:hover {
    cursor: pointer;
}
