.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.gameCanvas {
    height:500px;
    width: 500px;
    background-color: lightblue;
    position: relative;
}

.gameCharacter {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
}