.custom-progress-container {
    position: absolute; /* slightly off-centered rn */
    top: -200px;
    width: 100%;
    height: 12px;
    background-color: #C0C0C0;
    border-radius: 6px;
  }
  .custom-progress-fill {
    height: 100%;
    background: green;
    transition: width 0.3s ease-in-out;
    border-radius: 6px;
  }