.container {
    position: relative;
    cursor: pointer;
    border: 2px solid;
    width: 22rem; /* equivalent to w-80 */
    height: 6rem; /* equivalent to h-64 */
    margin: 2rem 1.25rem; /* equivalent to m-5 */
    padding: 1.25rem; /* equivalent to p-5 */
    border-radius: 0.75rem; /* equivalent to rounded-xl */
}

.title {
    line-height: 2rem; /* equivalent to leading-8 */
    font-weight: bold; /* equivalent to font-bold */
    font-size: 20px;
}
.subtitle {
    line-height: 1rem;
    font-size: 12px;
}
