    .selectedNamePlate {
        color:aquamarine;
    }

    .activeConfirm {
        color: aquamarine;
    }

    .inactiveConfirm {
        color: black;
    }

    .scrollableList {
        height: 175px;
        overflow: scroll;
        padding: 20px;
    }

    .namePlateContainer {
        height: 25px;
    }

    .active-text {
        color: gold;
    }

    .inactive-text {
        color: grey;
    }

    .badge-table {
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
    }

