    .selectedNamePlate {
        color:aquamarine;
    }

    .activeConfirm {
        color: aquamarine;
    }

    .inactiveConfirm {
        color: black;
    }

    .scrollableList {
        height: 175px;
        overflow: scroll;
        padding: 20px;
    }

    .namePlateContainer {
        height: 25px;
    }

