/*----------------------------------- Page Styles --------------------------------------------- */
.profileSelectButtonContainer {
    display: flex;
    flex-direction: row;
}

.profileSelectButton {
    height: 50px;
    width: 50px;
    margin: 50px;   
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileText {
    font-size: 24px;
    padding: 10px;
}

.nameText {
    font-size :35px;
}

/*<------------------------------------------- Profile Select Button ------------------------------> */
.profileSelectButton {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 50px;
}

/*<------------------------------------------ Name Plate ---------------------------> */

.namePlateContainer {
    height: 25px;
}

.selectedNamePlate {
    color:aquamarine;
}

/*<---------------------------------------- Confirm Button ------------------------> */

.activeConfirm {
    color: aquamarine;
}

.inactiveConfirm {
    color: black;
}

/*<----------------------------------------- Badge Table ------------------------> */

.badgeTable {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

.badgeHeader {
    font-size: 24px;
    margin-bottom: 10px;
}

.badgeTableContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

/* ------------------------------------------------------Badge Styles----------------------------------------------------------------------------- */
.badgeDialog {
    position: relative;
    z-index: 50;
}

.badgeDialogPanelContainer {
    position: fixed;
    inset: 0px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.badgeDialogPanel {
    max-width: 1024px;
    margin-top: 16px;
    border-width: 1px;
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.badgeDialogTitle {
    font-weight: 700;
}

.badgeDialogDescription {
    margin-bottom: 12px;
}

.badgeDialogCloseButton {
    border-width: 1px;
    border-color: black;
    padding: 4px;
    align-self: center;
    background: none;
    color: black;
    cursor: pointer;
}

.activeText {
    color: gold;
}

.inactiveText {
    color: gray;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
}

.informationContainer {
    background-color: black;
    height:35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-left: 20px;
}

.achievementsContainer {
    background-color: #333333;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.shopContainer {
    background-color: grey;
    height: 20%;
    width: 100%;
}

.lhsInfoContainer {
    background-color: black;
    height: 100%;
    width: 60%;
}

.rhsInfoContainer {
    background-color: black;
    height: 100%;
    width: 40%;
    padding-right: 5px;
    padding-left: 10px;
}

.profilePictureHolder {
    background-color: lightpink;
    width: 100%;
    height: 70%;
    border-radius: 52px;    
}

.nameContainer {
    background-color: black;
    color: whitesmoke;
    width: 300px;
    height: 104px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.progressBar {
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.assignmentList {
    background-color: black;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.assignment {
    background-color: purple;
    width: 100%;
    height: 22%;
    border-radius: 31px;
}

.lhsAchievementsContainer {
    background-color: coral;
    height: 100%;
    width: 60%;
}

.rhsAchievementsContainer {
    background-color: greenyellow;
    height: 100%;
    width: 40%;
    padding-right: 5px;
    padding-left: 10px;
}

.badgeTableheader {
    display: flex;
    width: 100%;
    background-color: azure;
    justify-content: space-between;
}

.badgeTable {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 50%;
    background-color: blueviolet;
}

/* */

.badgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.badgeCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


